<!doctype html>
<html>
<head>
    <title>Daily Report</title>
    <link rel="stylesheet" href="report.css">
</head>
<body>
    <div class="report">
        <h1 class="title">{{ title }}</h1>
        <h3 class="date">{{ date }}</h3>
        <div class="summary">
            <h3 class="section-title">Summary</h3>
            <img src="summary.png">
            <table class="summary-table">
                <tr>
                    <th>Category</th>
                    <th>Duration</th>
                </tr>
                {% for label in ['W', 'R', 'N'] %}
                    <tr>
                        <td class="category">{{ label }}</td>
                        <td class="duration">{{ timedelta_to_string(class_duration[label]) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="list-actions">
            <h2>Actions</h3>
            <table>
                <tr>
                    <th>Action</th>
                    <th>Duration</th>
                </tr>
                {% for action, duration in sorted_action_durations %}
                    <tr>
                        <td class="action">{{ action }}</td>
                        <td class="duration">{{ timedelta_to_string(duration) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>